<p id="notice"><%= notice %></p>

<h1>Bad Reports</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bad_reports.each do |bad_report| %>
      <tr>
        <td><%= link_to 'Show', bad_report %></td>
        <td><%= link_to 'Edit', edit_bad_report_path(bad_report) %></td>
        <td><%= link_to 'Destroy', bad_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bad Report', new_bad_report_path %>
